body {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
header {
    flex-direction: column;
    font-size: medium;
}
footer {
    flex-direction: column;
}
main {
    display: flex;
    flex: auto;
}
article {
    flex:2;
    overflow-y: auto;
    flex-direction: row;
}
aside {
    flex:1;
    overflow-y: auto;
    flex-direction: row;
    background-color: pink;
}
h1 {
    color: brown;
}
p {
    color: blueviolet;
}
h3 {
    color: palevioletred;
}